<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <style> body {padding: 0; margin: 0;} </style>
    <script src="https://unpkg.com/p5@0.6.1/lib/p5.js"></script>
    <script src="https://unpkg.com/p5@0.6.1/lib/addons/p5.dom.js"></script>
    <script src="https://unpkg.com/p5@0.6.1/lib/addons/p5.sound.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='plant.js') }}"></script>
    <script src="{{ url_for('static', filename='branch.js') }}"></script>
    <script src="{{ url_for('static', filename='particle_emitter.js') }}"></script>
    <script src="{{ url_for('static', filename='particle.js') }}"></script>
    <script src="{{ url_for('static', filename='helpers.js') }}"></script>
    <script src="https://unpkg.com/lodash@4.17.10/lodash.js"></script>
  </head>
  <body style="margin: 0;">
  </body>
</html>
